.{margin:0 ; padding : 0 ; }
a{text-decoration: none;}
kbd{border:1px solid red; width: 4em; height:4em; display: inline-block;text-transform:uppercase;
position: relative}
kbd > button {
    position: absolute;
    right: 0;
    bottom:0;
    display: none;
}
kbd:hover > button {
    display: inline-block;
}
#maninxxxx > div:nth-child(2){
    margin-left: 1em;
}
#maninxxxx > div:nth-child(3){
    margin-left: 2em;
}
body{
    height: 100vh;
    background: red url(beijing.png ) no-repeat center center;
    background-size: cover;
}

#maninxxxx{
    display: inline-block;
}
main{
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.key{
    width: 50px;
    height: 40px;
    background: -webkit-linear-gradient(top, #292929 0%,#111111 100%);
    border: 1px solid #373737;
    color: #C5C5C5;
    border-radius: 7px;
    box-shadow: 0 0 0 1px #1A1B1C, 0 0 0 2px #1F2020, 0 3px 0 2px #080808;
    /*display: inline-flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    font-size: 20px;
    position: relative;
}
.row{
    margin: 20px;
}
.row .key{
    margin: 0 10px;
}
.bao{
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
}
.key img {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 4px;
    bottom: 2px;
}
.key .text{
    position: absolute;
    left: 5px;
    top:5px;
}
